<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="../statics/css/bootstrap.css" />
	<title>Home</title>
</head>
<script th:src="@{/js/jquery-3.6.4.js}" src="../statics/js/jquery-3.6.4.js"></script>
<script th:src="@{/js/bootstrap.js}" src="../statics/js/bootstrap.js"></script>

<body style="background:#000; ">

	<div class="container" style="background:#fff; width: 460px; min-height:100vh;">

		<div>
			<img style="height: 120px;" class="card-img-top" th:src="@{/images/product1.png}"
				src="../statics/images/product1.png" alt="">
		</div>

		<div class="row mb-1 mt-2">
			<div class="col">
				<h5 class="mb-0">Popular</h5>
			</div>


			<div class="row g-2 m-auto">
				<div class="col ms-3">
					<div class="card" style="width: 180px;">
						<img class="card-img-top" th:src="@{/images/arroz.png}" src="../statics/images/arroz.png"
							alt="">
						<h6 class="card-title m-0">Arroz marinero</h6>
						<p class="m-0 mb-1">$34.000</p>
					</div>
				</div>

				<div class="col">
					<div class="card" style="width: 180px;">
						<img class="card-img-top" th:src="@{/images/salmonPez.png}" src="../statics/images/salmonPez.png"
							alt="">
						<h6 class="card-title m-0">Zalmón de pez</h6>
						<p class="m-0 mb-1">$54.000</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row mb-3 mt-3">
			<div class="col">
				<h5 class="mb-0">Especial</h5>
			</div>

			<div class="row g-2 m-auto">
				<div class="col ms-3">
					<div class="card" style="width: 180px;">
						<img class="card-img-top" th:src="@{/images/mariscos.png}" src="../statics/images/mariscos.png"
							alt="">
						<h6 class="card-title m-0">Mariscos</h6>
						<p class="m-0 mb-1">$52.000</p>
					</div>
				</div>

				<div class="col">
					<div class="card" style="width: 180px;">
						<img class="card-img-top" th:src="@{/images/bandejapaisa.png}" src="../statics/images/bandejapaisa.png"
							alt="">
						<h6 class="card-title m-0">Bandeja paisa</h6>
						<p class="m-0 mb-1">$40.000</p>
					</div>
				</div>

				<div class="mt-4">
					<a th:href="@{/}" role="button" aria-disabled="true" class="btn btn-success form-control">Pide en
						linea</a>

					<div class="pt-2 d-flex justify-content-between">

						<a th:href="@{/pedidos}" role="button" aria-disabled="true"
							class="m-1 btn btn-success form-control"  id="mispedidos">Mis pedidos</a>
						<a th:href="@{/reserva}" id="reserva" role="button" aria-disabled="true"
							class="m-1 btn btn-success form-control">Reserva</a>
					</div>
				</div>
			</div>
		</div>
</body>

</html>