<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="../statics/css/bootstrap.css" />
	<title>Inicio de sesión</title>
</head>
<script th:src="@{/js/jquery-3.6.4.js}" src="../statics/js/jquery-3.6.4.js"></script>
<script th:src="@{/js/bootstrap.js}" src="../statics/js/bootstrap.js"></script>

<body style="background:#000; ">

	<div class="container" style="background:#fff; width: 460px; min-height:100vh;">

		<div style="padding:20px 0px;margin:auto; width: 200px;">
			<img width="150px" th:src="@{/images/logo1.png}" src="../statics/images/logo1.png" alt="">
		</div>
		<div class="row m-3">
			<div>
				<h3 class="pb-2">Inicio de sesión</h3>

				<form th:action="@{/login}" method="post">

					<div th:if=${error}>
						<div name="error" class="alert alert-danger">Usuario o contraseña
							inválidos</div>
					</div>

					<div class="form-group ">
						<label for="username">Nombre de
							usuario </label> <input id="email" name="email" type="text" class="form-control" required
							autofocus="autofocus" placeholder="Digite su email ID">
					</div>

					<div class="form-group pt-2">
						<label for="password">Contraseña </label> <input id="password" type="password" name="password"
							class="form-control" required autofocus="autofocus" placeholder="Digite su contraseña">
					</div>

					<br />
					<div class="form-group">
						<div class="row  m-4 mt-2">
							<button type="submit" name="blogin" class="mb-3 form-control btn btn-primary">Iniciar
								sesión</button>
							<span>Si eres nuevo usuario <a th:href="@{/registro}">regístrate
									aqui</a></span>
						</div>
					</div>

				</form>



			</div>
		</div>


	</div>


</body>

</html>