<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="../statics/css/bootstrap.css" />
	<title>Reserva</title>
</head>
<script th:src="@{/js/jquery-3.6.4.js}" src="../statics/js/jquery-3.6.4.js"></script>
<script th:src="@{/js/bootstrap.js}" src="../statics/js/bootstrap.js"></script>

<body style="background:#000; ">

	<div class="container" style="background:#fff; width: 460px; min-height:100vh;">

		<div class="p-2 mb-2 bg-success text-white text-center">
			<h4>Reserva</h4>
		</div>
		<div class="row m-3">
			<div>
				<h3 class="pt-4 pb-2">Seleccione</h3>
				<form th:action="@{/reserva}" method="post" th:object="${reserva}">
					<div class="errorblock" th:if="${errors != null}">

						<div class="alert alert-danger">
							<ul>
								<li name="error" th:each="err : ${errors}" th:text="${err}">Input is incorrect</li>
							</ul>
						</div>
					</div>
					<div class="form-group pb-3">
						<label class="control-label" for="nombre">Fecha </label> <input id="fecha" type="date"
							class="form-control" th:field="*{fecha}" required autofocus="autofocus">
					</div>
					<div class="form-group pb-3">
						<label class="control-label" for="hora">Hora </label> <input id="hora" type="text"
							class="form-control" th:field="*{hora}" autofocus="autofocus">
					</div>

					<div class="form-group pb-3">
						<label class="control-label" for="numPersonas">Número de personas</label> <input
							id="numPersonas" type="number" class="form-control" th:field="*{numPersonas}" required
							autofocus="autofocus">
					</div>

					<div class="form-group pb-3">
						<label class="control-label" for="mesa">Mesa </label> <input id="mesa" type="number"
							class="form-control" th:field="*{mesa}" required autofocus="autofocus">
					</div>

					<div class="form-group">

						<div class="pt-2 d-flex justify-content-between">
							<a th:href="@{/}" role="button" aria-disabled="true"
								class="m-1 btn btn-success form-control">Cancelar</a>
							<button id="btnSaveR" type="submit" class="m-1 btn btn-success form-control">Aceptar</a>
						</div>
				</form>
			</div>
		</div>
	</div>

</body>

</html>